@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Slab:wght@500&family=Shantell+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.Baner {
    height: auto;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
}

ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}

input {
    all: unset;
    max-width: 350px;
}

.logo {
    width: auto;
    height: auto;
    padding-bottom: 20px;
}

.probelu {
    padding-left: 25rem;
    padding-right: 25rem;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.search {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 35px;
}

.search>input{
    border-bottom: 1px solid #324950;
}

.menu>li {
    padding-right: 10px;
    color: #324950;
}

.container {
    background-color: #2D3F45;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    margin-right: 170px;
}

.footer>ul>li {
    color: #FFFFFF;
    padding-right: 20px;
    font-weight: 400;
    font-size: 16px;
}

.final {
    background-color: #324950;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 13px;
}

.final>p {
    color: #B9B9B9;
    font-weight: 400;
    font-size: 14px;
}

.pipols {
    display:grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));
    gap: 30px;
    padding-bottom: 50px;
}

.pipols>div>a>h3 {
    color: #57984C;
    font-weight: 700;
    font-size: 16px;
}

.pipols>div>a>p {
    color: #57984C;
    font-weight: 400;
    font-size: 14px;
}

@media(max-width:920px) {
    .header {
        justify-content: none;
        flex-direction: column;
    }

    .search {
        padding-top: 20px;
        justify-content: center;
    }

    .menu {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 20px;
    }

    .probelu {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 1125px;
        margin: 0 auto;
    }

    .footer>ul {
        display: flex;
        flex-direction: column;
    }

    .footer {
        margin: 0;
        flex-direction: column;
    }

    .social {
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }
}

@media(max-width:1750px) {
    .probelu {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 1125px;
        margin: 0 auto;
    }
}